<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Document </title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <script src="scripts/require.js"> </script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
         <img src="../images/200.jpg">
        <noscript>You need to enable JavaScript to view the full site.</noscript>
    </body>
</html>

